html {
	font-size: 16px;
	background: #f0f0f5;
}

footer {
	padding-bottom: 10px;
	padding-top: 10px;
	text-align: center;
	position: relative;
}

section {
	padding-right: 50px;
	padding-left: 50px;
}

header {
	justify-content: center;
}
h4 {
	padding-bottom: 0px;
	margin-bottom: 0px;
}
h3 {
	background: #E0062A;
	color: white;
	margin-top: 15px;
	margin-bottom: 15px;
	border-radius: 10px;
	text-align: center;
	font-family: Courier, "Lucida Console", monospace;
}

nav {
	display: flex;
	padding: 0px 10px;
	justify-content: center;
}

input {
	margin-bottom: 15px;
}

#aviso_pdf {
	width: 900px;
	height: 400px;
}

.menu {
	display: -webkit-box;
	padding-left: 0px;
	margin: 5px 0px;
}

.menu__item {
	background: #4756A0;
	list-style: none;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	box-shadow: inset 0 0 5px white;
}

/* Aplicamos estilos al primer elemento del menu*/
.menu__item:nth-child(1) {
	border-radius: 10px 0px 0px 10px;
}

/* Aplicamos estilos al ultimo elemento del menu*/
.menu__item:last-child {
	border-radius: 0px 10px 10px 0px;
}

.menu__item a {
	text-decoration: none;

	margin: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;	
	color: white;
}

.menu__item:hover {
	background-color: #6fa4d4;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;	
}


.layoutKVD {
	background: white;
	border-radius: 5px;
	box-shadow: inset 0 0 5px gray;
	margin-bottom: 1em;
	padding-top: 1px;
	padding-bottom: 15px;
	text-align: left;
}

.layoutKVD a {
	text-decoration: none;
}

.layoutKVD p {
	margin-top: 0;
	margin-bottom: 0;	
}

.layoutKVD li {
	list-style: none;
}

.layoutKVD ul {
	padding-left: 0px;
}
.contenido {
	background: #f0f0f5;
	padding-left: 150px;
	padding-right: 150px;
	text-align: center;	
}

.separador {
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px solid #4756A0;
}

.ping {
	padding-left: 40px;
}

.inventario_bold {
	font-weight: 600;
	width: 200px;
	display: -webkit-inline-box;
}

span {
	text-decoration: underline;
}

footer p {
	font-size: 12px;
	margin: 0px;
}

footer a {
	font-size: 12px;
}

.gestores {
	text-align: left;
}
.gestores p {
	margin: 0px;
	padding: 0px;
}

/* CSS para Crear Aviso */
.aviso {
	text-align: left;
}

.aviso p {
	margin: 0px;
	padding: 0px;	
}

.aviso .idbeneficiario_aviso {
	font-size: 160px;
}

.aviso .sede, .departamento, .municipio, .centropoblado {
	padding-right: 10px;
}

/*Mobile (landscape)*/
@media only screen and (min-width: 280px) and (max-width: 767px) {
	html {
		font-size: 14px;
	}

	nav {
		display: block;
		padding-left: 0px;
		padding-right: 0px;
	}

	section {
		margin-left: 5px;
		margin-right: 5px;
	}

	.contenido {
		padding: 0px;
	}	

	.menu {
		display: block;
		text-align: center;
	}	
 	
 	/* Aplicamos estilos al primer elemento del menu*/
	.menu__item:first-child {
		border-radius: 0px;
	}

	/* Aplicamos estilos al ultimo elemento del menu*/
	.menu__item:last-child {
		border-radius: 0px;
	}

	.layoutKVD {
		padding-left: 10px;
		padding-right: 10px;
	}
}

/*Mobile Tabletas (landscape)*/
@media only screen and (min-width: 768px) and (max-width: 1000px) {

	body {
		display: -webkit-box;
		padding-right: 0px;
	}

	.menu {
		display: block;
	}
	
 	/* Aplicamos estilos al primer elemento del menu*/
	.menu__item:first-child {
		border-radius: 0px;
	}

	/* Aplicamos estilos al ultimo elemento del menu*/
	.menu__item:last-child {
		border-radius: 0px;
	}

	.contenido {
		padding-left: 0px;
		padding-right: 0px;
	}

	.layoutKVD {
		box-shadow: inset 0 0 5px gray;
		width: 140%;
		/*margin-right: 0px;*/
		padding-right: 10px;
		padding-left: 10px;
	}

}
