html {
	display: flex;
	justify-content: center;
	font-size: 16px;
}

footer {
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
}

header {
	display: flex;
	justify-content: center;
	/*position: fixed;*/
}
h4 {
	padding-bottom: 0px;
	margin-bottom: 0px;
}
h3 {
	background: #E0062A;
	color: white;
	margin-top: 15px;
	margin-bottom: 15px;
	border-radius: 10px;
	text-align: center;
	font-family: Courier, "Lucida Console", monospace;
}

nav {
	display: flex;
	justify-content: center;
}

.menu {
	display: -webkit-box;
}

.menu__item {
	background: #4756A0;
	list-style: none;
	border-radius: 10px;
	margin-left: 2px;
	margin-right: 2px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

.menu__item a {
	text-decoration: none;

	margin: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;	
	color: white;
}

.layoutKVD {
	text-align: left;
	border: 2px solid #DD9650;
	padding: .5em 1em;	
	margin-bottom: 1em;
}

.layoutKVD a {
	text-decoration: none;
}

.layoutKVD p {
	margin-top: 0;
	margin-bottom: 0;	
}

.layoutKVD li {
	list-style: none;
}

.layoutKVD ul {
	padding-left: 0px;
}
.contenido {
	text-align: center;
}

.listado_calidad p {
	text-align: left;
	margin-top: 0px;
	margin-bottom: 0px;
}

.separador {
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px solid #4756A0;
}

.ping {
	padding-left: 40px;
}
footer p {
	font-size: 12px;
}

footer a {
	font-size: 12px;
}

.gestores p {
	margin: 0px;
	padding: 0px;
}
/*Mobile (landscape)*/
@media only screen and (min-width: 280px) and (max-width: 767px) {
	html {
		font-size: 16px;
	}
	.menu {
		display: block;
	}	
	.menu__item {
		margin-bottom: 2px;
	}
/*	.contenido {
		padding-left: 0px;
		padding-right: 0px;
	}
	*/
}